<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>ConnectFly</title>
</head>
<body>
  <h1>ConnectFly</h1>
  <ul>
    <li><a href="/register">Register User</a></li>
    <li><a href="/itineraries/new">Add Itinerary</a></li>
    <li><a href="/groups/new">Create Group</a></li>
  </ul>
</body>
</html>
